<div >
   <div class="jumbotron"><br>
      <h2 class="text-center">Restaurant List</h2>
   </div>
   <div class="container h-100">
      <table class="table">
         <thead>
            <tr>
               <th>Sl No</th>
               <th>Name</th>
               <th>Address</th>
               <th>Phone No</th>
               <th>Email ID</th>
               <th>Edit</th>
               <th>Delete</th>
            </tr>
         </thead>
         <tbody>
            <tr *ngFor="let data of restoList">
               <td>{{data.id}}</td>
               <td>{{data.name}}</td>
               <td>{{data.address}}</td>
               <td>{{data.mobile}}</td>
               <td>{{data.email}}</td>
               <td><a routerLink="/updateRestaurant/{{data.id}}"><i class='fa fa-edit'
                        style="color:black;font-size: 35px;"></i></a></td>
               <!-- <td><a [routerLink]="" (click)="updateResto(data)"><i class='fa fa-edit' style="color:black;font-size: 35px;"></i></a></td> -->
               <td><a [routerLink]="" (click)="deleteResto(data)"><i class='fa fa-trash-o'
                        style="color:red;font-size: 35px;"></i></a></td>
            </tr>
         </tbody>
      </table>
   </div>
</div>